@model MvcCoreApiCrudDepartamentos2023.Models.Departamentos

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Detalles del departamento: @Model.Nombre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <h5>ID Departamento</h5>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartamento)
        </dd>
        <dt class = "col-sm-2">
            <h5>Nombre</h5>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            <h5>Localidad</h5>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Departamentos">Volver Atrás</a>
</div>
